// Colores

$color1: #6DAB8E;
$color2: #57846C;
$colorA: #2F4032;
$blanco: white;


// Fuentes

// font-family: 'Cormorant Infant', serif;
// font-family: 'Open Sans', sans-serif;

$fuente1: 'Cormorant Infant', serif;
$fuente2: 'Open Sans', sans-serif;