* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: url(img/background.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}

button {
  background-color: #6DAB8E !important;
  text-decoration: none !important;
}
button:hover {
  background-color: #57846C !important;
}
button a {
  color: white !important;
}

a {
  text-decoration: none !important;
}
a:hover {
  text-decoration: none !important;
}

.botones {
  width: 200px !important;
}

span {
  font-weight: 900;
}

header {
  width: 100%;
  position: fixed;
  top: 20px;
  z-index: 2;
}
header .contenedorNav {
  height: 10vh;
  width: 95%;
  margin: auto;
  background-color: white;
  box-shadow: 0 10px 16px -10px rgba(47, 64, 50, 0.3);
  border-radius: 10px;
}
header .contenedorNav .navBS {
  background-color: transparent !important;
  display: flex !important;
  align-items: center !important;
  justify-content: space-between !important;
  height: 100%;
}
header .contenedorNav .navBS .logoMenu {
  height: 100%;
}
header .contenedorNav .navBS .logoMenu a {
  padding: 0;
  margin: 0;
  height: 100%;
}
header .contenedorNav .navBS .logoMenu img {
  height: 100%;
  width: 100%;
}
header .contenedorNav .navBS div.navbarColapsado button.navbar-toggler {
  background-color: transparent !important;
  border: none;
}
header .contenedorNav .navBS div.navbarColapsado button.navbar-toggler i {
  color: white;
}
header .contenedorNav .navBS div.navbarColapsado li {
  margin: 0 10px;
}
header .contenedorNav .navBS div.navbarColapsado li a {
  color: #6DAB8E !important;
}
header .contenedorNav .navBS div.navbarColapsado li a:hover {
  color: #57846C !important;
}
header .contenedorNav .navBS div.navbarColapsado li .active {
  font-weight: 800;
  color: #57846C !important;
}
header .contenedorNav .navBS div.navbarColapsado .btnAgendarCitaMenu {
  margin-left: 25px;
  padding: 10px 20px;
}

.contenedorFooter {
  background-color: #2F4032 !important;
}
.contenedorFooter .rrss {
  padding: 5%;
}
.contenedorFooter .rrss h5 {
  color: #6DAB8E;
}
.contenedorFooter .rrss i {
  color: white;
  font-size: x-large;
}
.contenedorFooter .news {
  padding: 4%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.contenedorFooter .news h4 {
  color: #6DAB8E;
}

@media only screen and (max-width: 991px) {
  header {
    height: auto;
  }
  header .contenedorNav {
    width: -moz-fit-content;
    width: fit-content;
    height: auto;
    margin: 0;
    position: fixed;
    right: 20px;
    background-color: #6DAB8E !important;
  }
  header .contenedorNav .navBS {
    padding: 0;
    justify-content: end;
  }
  header .contenedorNav .navBS .logoMenu {
    display: none;
  }
  header .contenedorNav .navBS .navbarColapsado {
    display: flex;
    flex-direction: column;
    align-items: end;
  }
  header .contenedorNav .navBS .navbarColapsado i {
    font-size: xx-large;
    text-align: end;
  }
  header .contenedorNav .navBS .navbarColapsado div ul {
    text-align: right;
    padding: 5px 20px 10px 20px;
  }
  header .contenedorNav .navBS .navbarColapsado div ul li a {
    color: white !important;
  }
  header .contenedorNav .navBS .navbarColapsado div ul li .active {
    font-weight: 800;
    color: white !important;
  }
  header .contenedorNav .navBS .navbarColapsado div ul .btnAgendarCitaMenu {
    background-color: white !important;
    margin: 10px 0;
    padding: 10px 0;
  }
  header .contenedorNav .navBS .navbarColapsado div ul .btnAgendarCitaMenu a {
    color: #57846C !important;
  }
}/*# sourceMappingURL=style.css.map */