@import '_recursosVisuales';


// .botones {
//     width: 250px;
//     height: auto;
//     border-radius: 10px;
//     padding: 15px;
//     display: block;

//     color: white;
//     text-decoration: none;
//     margin-top: 10%;
//     text-align: center;
// }



// Generales

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background-image: url(img/background.jpg);
	background-size: contain;
	background-repeat: no-repeat;
}

button {
	background-color: $color1 !important;
	text-decoration: none !important;

	&:hover {
		background-color: $color2 !important;
	}

	a {
		color: $blanco !important;
	}
}

a {
	text-decoration: none !important;

	&:hover {
		text-decoration: none !important;
	}
}

.botones {
	width: 200px !important;
}


// Header

header {
	width: 100%;
	position: fixed;
	top: 20px;
	z-index: 2;

	.contenedorNav {
		height: 10vh;
		width: 95%;
		margin: auto;
		// padding: 10px;
		// display: flex;
		// justify-content: space-between;
		// align-items: center;
		background-color: $blanco;
		box-shadow: 0 10px 16px -10px rgba(47, 64, 50, 0.3);
		border-radius: 10px;



		.navBS {
			background-color: transparent !important;
			display: flex !important;
			align-items: center !important;
			justify-content: space-between !important;
			height: 100%;

			div.navbarColapsado {
				button.navbar-toggler {
					background-color: transparent !important;
					border: none;

					i {
						color: $blanco;
					}
				}
			}

			.logoMenu {
				height: 100%;

				a {
					padding: 0;
					margin: 0;
					height: 100%;
				}

				img {
					height: 100%;
					width: 100%;
				}
			}

			li {
				margin: 0 10px;

				a {
					color: $color1 !important;

					&:hover {
						color: $color2 !important;
					}
				}

				.active {
					font-weight: 800;
					color: $color2 !important;
				}
			}


			.btnAgendarCitaMenu {
				margin-left: 25px;
				padding: 10px 20px;
			}

		}


		// div {
		// 	height: 100%;
		// 	width: auto;

		// 	img {
		// 		height: 100%;
		// 	}
		// }

		// nav {
		// 	height: auto;
		// 	font-size: 16px;

		// 	ul {
		// 		display: flex;
		// 		align-items: center;
		// 		margin: 0;

		// 		li {
		// 			list-style: none;
		// 			margin-right: 20px;

		// 			a {
		// 				color: $colorA;

		// 				&:hover {
		// 					color: $color2;
		// 				}
		// 			}

		// 		}

		// 	}

		// }

	}
}






// Footer

.contenedorFooter {
	background-color: $colorA !important;

	.rrss {

		padding: 5%;

		h5 {
			color: $color1;
		}

		i {
			color: $blanco;
			font-size: x-large;
		}
	}

	.news {
		padding: 4%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		h4 {
			color: $color1;
		}


	}
}

// footer {
// 	padding: 5%;
// 	background-color: $colorA;
// 	height: auto;
// 	display: flex;
// 	justify-content: space-between;

// 	h4 {
// 		padding: 15px 0;
// 		color: $blanco;
// 	}

// 	#redesSociales {
// 		width: 10%;
// 		height: auto;
// 		align-self: center;

// 		img {
// 			width: 20%;
// 		}
// 	}

// 	.newsletter {
// 		width: 30%;
// 		display: flex;
// 		align-items: center;

// 		form {
// 			width: 100%;

// 			.email {
// 				background-color: $blanco;
// 				color: $colorA;
// 				border: none;
// 				height: auto;
// 				width: 70%;
// 				padding: 5px 0 5px 30px;
// 				border-radius: 5px;
// 				font-size: 16px;

// 				&::placeholder {
// 					color: $colorA;
// 				}
// 			}

// 			.botonNewsletter {
// 				background-color: transparent;
// 				border: none;
// 				margin-left: 20px;
// 				color: $color1;
// 				text-decoration: underline;
// 			}

// 		}

// 	}

// }




// Media queries

@media only screen and (max-width:991px) {
	header {
		height: auto;

		.contenedorNav {
			width: fit-content;
			height: auto;
			margin: 0;
			position: fixed;
			right: 20px;
			background-color: $color1 !important;

			.navBS {
				padding: 0;
				justify-content: end;

				.logoMenu {
					display: none;
				}

				.navbarColapsado {
					display: flex;
					flex-direction: column;
					align-items: end;

					i {
						font-size: xx-large;
						text-align: end;
					}

					div ul {
						text-align: right;
						padding: 5px 20px 10px 20px;

						li {
							a {
								color: $blanco !important;

							}

							.active {
								font-weight: 800;
								color: $blanco !important;
							}

						}

						.btnAgendarCitaMenu {
							background-color: $blanco !important;
							margin: 10px 0;
							padding: 10px 0;

							a {
								color: $color2 !important;
							}

						}
					}
				}
			}
		}

	}
}




// @media only screen and (max-width:584px) {


// 	header {

// 		.contenedorNav {
// 			background-color: $blanco;
// 			height: auto;
// 			width: auto;
// 			position: fixed;
// 			right: 20px;

// 			div {
// 				height: 5vh;
// 				width: auto;

// 				img {
// 					height: 100%;
// 					width: auto;

// 				}
// 			}

// 			nav {
// 				display: none;
// 			}

// 		}
// 	}

// }

// @media only screen and (min-width:1024px) {
// 	header {
// 		div {
// 			width: 60px;
// 			height: 100%;
// 		}
// 	}
// }

// @media only screen and (min-width:1440px) {
// 	header {
// 		div {
// 			width: 70px;
// 			height: 100%;
// 		}
// 	}
// }