@import '_recursosVisuales';


// Generales

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: $fuente2;
}

body {
	background-image: url(img/background.jpg);
	background-size: contain;
	background-repeat: no-repeat;
}

.botonWapp {
	background-color: green;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	bottom: 50px;
	right: 30px;
	box-shadow: 0 6px 16px 1px rgb(47, 64, 50, 0.4);
	z-index: 2;

	i {
		color: $blanco;
	}
}


h1,
h2,
h3,
h4,
h5 {
	font-family: $fuenteA;
	font-weight: bold;
	color: $colorA;
}

h2,
h3,
h4,
h5 {
	color: $colorA;
}

button {
	background-color: $color1 !important;
	text-decoration: none !important;

	&:hover {
		background-color: $color2 !important;
	}

	a {
		color: $blanco !important;
	}
}

a {
	text-decoration: none !important;

	&:hover {
		text-decoration: none !important;
		color: $color1;
	}

	color: $colorA;
}

.botones {
	width: 200px !important;
}

span {
	font-weight: 900;
}


// Header

header {
	width: 100%;
	position: fixed;
	top: 20px;
	z-index: 2;

	.contenedorNav {
		height: 10vh;
		width: 95%;
		margin: auto;
		background-color: $blanco;
		box-shadow: 0 10px 16px -10px rgba(47, 64, 50, 0.3);
		border-radius: 10px;

		.navBS {
			background-color: transparent !important;
			display: flex !important;
			align-items: center !important;
			justify-content: space-between !important;
			height: 100%;


			.logoMenu {
				height: 100%;

				a {
					padding: 0;
					margin: 0;
					height: 100%;
				}

				img {
					height: 100%;
					width: 100%;
				}
			}

			div.navbarColapsado {
				button.navbar-toggler {
					background-color: transparent !important;
					border: none;

					i {
						color: $blanco;
					}
				}

				li {
					margin: 0 10px;

					a {
						color: $color1 !important;
						font-family: $fuenteA !important;

						&:hover {
							color: $color2 !important;
						}
					}

					.active {
						font-weight: 800;
						color: $color2 !important;
					}
				}

				.btnAgendarCitaMenu {
					margin-left: 25px;
					padding: 10px 20px;
				}

			}
		}


	}
}


// Footer

.contenedorFooter {
	background-color: $colorA !important;
	padding: 5%;

	.rrss {

		padding: 5%;

		h5 {
			color: $color1;
		}

		a {

			margin-right: 15px;

			i {
				color: $blanco;
				font-size: x-large;
			}

		}

	}

	.news {
		padding: 4%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		h4 {
			color: $color1;
		}

		form {

			div {

				button {

					color: $blanco;

				}

			}

		}

	}
}




// Media queries

@media only screen and (max-width:991px) {
	header {
		height: auto;

		.contenedorNav {
			width: fit-content;
			height: auto;
			margin: 0;
			position: fixed;
			right: 20px;
			background-color: $color1 !important;

			.navBS {
				padding: 0;
				justify-content: end;

				.logoMenu {
					display: none;
				}

				.navbarColapsado {
					display: flex;
					flex-direction: column;
					align-items: end;

					i {
						font-size: xx-large;
						text-align: end;
					}

					div ul {
						text-align: right;
						padding: 5px 20px 10px 20px;

						li {
							a {
								color: $blanco !important;

							}

							.active {
								font-weight: 800;
								color: $blanco !important;
							}

						}

						.btnAgendarCitaMenu {
							background-color: $blanco !important;
							margin: 10px 0;
							padding: 10px 0;

							a {
								color: $color2 !important;
							}

						}
					}
				}
			}
		}

	}
}