@import '../_recursosVisuales';

body {
	background-image: none;
}

.fondo {
	background-image: url(../img/bio_Clara_Tabares.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top;
	height: 80vh;
	position: relative;

	.namePage {
		font-size: 80px;
		color: $blanco;
		text-shadow: 3px 3px 10px rgb(0, 0, 0, 0.5);
		position: absolute;
		bottom: 10%;
		left: 5%;
	}
}

// Main

#bio {
	height: auto;
	padding: 5%;
	text-align: center;

	p {
		width: 60%;
		margin: 25px auto 50px;
		line-height: 30px;
	}
}


// MediaQueries

@media only screen and (min-width:1025px) {

	#bio {
		p {
			width: 70%; 
		}
	}
}

@media only screen and (min-width:427px) and (max-width:768px) {
	#bio {
		p {
			width: 80%;
		}
	}
}

@media only screen and (max-width:426px) {
	.fondo{
		height: 50vh;
	}

	#bio {
		p {
			width: 90%;
		}
	}
}