@import '../_recursosVisuales';

// Main


main {
	display: flex;
	justify-content: space-evenly;
	height: 70vh;
	margin: 5% 0 0;
	padding: 5% 0;

	.logo {
		height: 100%;
		width: 50%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;



		img {
			width: 50%;
			height: auto;

			animation-name: rotacion;
			animation-duration: 120s;
			animation-timing-function: ease-out;

			@keyframes rotacion {
				from {
					transform: rotateZ(0deg);
				}

				to {
					transform: rotateZ(360deg);
				}
			}
		}

		span {
			font-family: $fuente1;
			font-size: 40px;
			text-align: center;
			padding: 10px 0;
		}

		br {
			display: none;
		}

	}


	.contentMain {
		width: 50%;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: start;
		text-align: left;

		h1 {
			width: 80%;
		}


		p {
			width: 70%;
		}

	}

}


// Terapias


section#terapias {
	height: auto;
	margin-bottom: 5%;
	display: flex;
	flex-direction: column;
	align-items: center;


	.imagenTerapias {
		background-image: url(../svg/fondoTerapias.svg);
		background-repeat: no-repeat;
		background-size: contain;
		background-position: center;
		width: 100%;
		height: 30vh;

		img {
			width: auto;
			height: 100%;
		}
	}

	.contentTerapias {
		text-align: center;
		padding: 0 10%;
	}

	button {
		margin-top: 20px;
	}
}





// Enfermedades

section#enfermedades {
	height: auto;
	padding: 0;

	h2 {
		text-align: center;
		padding: 5% 5% 0;
	}

	.contenedorSistemas {
		display: flex;
		justify-content: space-evenly;
		flex-wrap: wrap;
		height: auto;

		.sistema {
			width: 30%;
			padding: 30px;
			margin: 2% 0;
			border-radius: 30px;
			box-shadow: 0 6px 10px 1px rgba(0, 0, 0, 0.2);

			div {
				display: flex;
				align-items: center;

				img {
					height: 50px;
					width: auto;
					margin-right: 15px;
				}

				h3 {
					color: $color2;
				}
			}

			ul {
				padding: 5% 10%;
			}
		}

	}

}






// Clientes


section#clientes {
	height: auto;
	padding: 50px;
	margin-bottom: 10%;

	h2 {
		text-align: center;
		padding: 5%;
	}

}

.contenedorTestimonios {
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
	height: auto;

	.testimonio {
		background-color: $color1;
		width: 30%;
		padding: 5%;
		border-radius: 15px;
		box-shadow: 0 6px 16px 1px rgb(47, 64, 50, 0.4);
		margin: 10px;

		h4 {
			margin-left: 10px;
		}

	}

}


// Media Queries

@media only screen and (min-width: 1025px) {
	main {
		margin-top: 10%;

		.logo {

			img {
				width: 50%;
			}

			span {
				font-size: 60px;
			}
		}

		.contentMain {
			width: 40%;
		}
	}

	section#terapias {
		.imagenTerapias {
			height: 40vh;
		}

		.contentTerapias {

			padding: 0 20%;
		}
	}

}

@media only screen and (min-width:691px) and (max-width: 768px) {
	main {
		display: block;
		height: auto;
		padding: 5% 5% 0;
		margin: 0;

		.logo {
			width: 100%;
			flex-direction: initial;
			justify-content: center;

			img {
				width: 30%;
			}

			span {
				text-align: left;
				padding: 0 0 0 2%;
				line-height: 40px;

				br {
					display: initial;
				}
			}
		}

		.contentMain {
			padding: 5%;
			width: 100%;
			text-align: center;
			align-items: center;
		}
	}

	section#enfermedades {
		.contenedorSistemas {
			.sistema {
				width: 40%;
			}
		}
	}

	section#clientes {
		.contenedorTestimonios {
			.testimonio {
				width: 40%;
				margin: 20px;
			}
		}
	}

}

@media only screen and (min-width:427px) and (max-width: 690px) {
	main {
		display: block;
		height: auto;
		padding: 5% 5% 0;
		margin: 10% 0;

		.logo {
			width: 100%;
			flex-direction: initial;
			justify-content: center;
			margin-bottom: 5%;

			img {
				width: 30%;
			}

			span {
				text-align: left;
				padding: 0 0 0 2%;
				line-height: 40px;

				br {
					display: initial;
				}
			}
		}

		.contentMain {
			padding: 5%;
			width: 100%;
			text-align: center;
			align-items: center;
		}
	}

	section#terapias {

		margin-bottom: 20%;

		.imagenTerapias {
			background-image: url(../svg/fondoTerapias1.svg);
		}
	}

	section#enfermedades {
		.contenedorSistemas {
			.sistema {
				width: 40%;

				div {
					flex-direction: column;
					justify-content: center;
					text-align: center;

					img {
						margin: 0;
					}
				}
			}
		}
	}

	section#clientes {
		.contenedorTestimonios {
			.testimonio {
				width: 90%;
				// margin: 20px;
			}
		}
	}

}


@media only screen and (max-width: 426px) {
	main {
		display: block;
		height: auto;
		padding: 5% 5% 0;
		margin: 20% 0;

		.logo {

			width: 100%;
			margin-bottom: 10%;

			img {
				width: 50%;
			}

			span {
				text-align: center;
				font-size: 35px;
				line-height: 35px;
			}
		}

		.contentMain {
			padding: 5%;
			width: 100%;
			text-align: center;
			align-items: center;
			margin: 10% 0;

			h1 {
				width: 100%;
			}

			p {
				width: 100%;
			}
		}
	}

	section#terapias {

		margin-bottom: 20%;

		.imagenTerapias {
			background-image: url(../svg/fondoTerapias3.svg);
		}
	}

	section#enfermedades {
		margin-bottom: 20%;

		.contenedorSistemas {
			.sistema {
				width: 80%;
				margin: 5% 0;

				div {
					flex-direction: column;
					justify-content: center;
					text-align: center;

					img {
						margin: 0;
					}
				}
			}
		}
	}

	section#clientes {
		padding: 0;
		margin-bottom: 20%;

		.contenedorTestimonios {
			.testimonio {
				width: 80%;
			}
		}
	}
}