main {
  display: flex;
  justify-content: space-evenly;
  height: 80vh;
  padding: 0;
  margin: 5% 0;
  padding: 5%;
}
main .logo {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main .logo img {
  width: 50%;
  height: auto;
}
main .logo span {
  font-family: "Cormorant Infant", serif;
  font-size: 40px;
  line-height: 50px;
  text-align: center;
  padding: 10px 0;
}
main .logo span br {
  display: none;
}
main .contentMain {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
}
main .contentMain h1 {
  width: 80%;
}
main .contentMain p {
  width: 80%;
}

@media only screen and (min-width: 1025px) {
  main .logo img {
    width: 50%;
  }
  main .logo span {
    font-size: 60px;
  }
}
@media only screen and (max-width: 768px) {
  main {
    flex-direction: column;
    justify-content: initial;
  }
  main .logo {
    width: 100%;
    flex-direction: initial;
    justify-content: center;
  }
  main .logo img {
    width: 30%;
  }
  main .logo span {
    text-align: left;
    padding-left: 2%;
  }
  main .logo span br {
    display: initial;
  }
  main .contentMain {
    padding: 5%;
    width: 100%;
    text-align: center;
  }
}
section#terapias {
  height: auto;
  margin-bottom: 5%;
}
section#terapias .contentTerapias {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  text-align: center;
}
section#terapias .imagenTerapias {
  background-image: url(../svg/fondoTerapias.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 90%;
  height: 300px;
  margin: 0 auto;
}
section#terapias .imagenTerapias img {
  width: 100%;
}

section#enfermedades {
  height: auto;
  padding: 0;
}
section#enfermedades h2 {
  text-align: center;
  padding: 5%;
}
section#enfermedades .contenedorSistemas {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-content: space-evenly;
  height: auto;
}
section#enfermedades .contenedorSistemas .sistema {
  width: 30%;
  padding: 30px;
  margin: 2% 0;
  border-radius: 30px;
  box-shadow: 0 6px 10px 1px rgba(0, 0, 0, 0.2);
}
section#enfermedades .contenedorSistemas .sistema div {
  display: flex;
  align-items: center;
}
section#enfermedades .contenedorSistemas .sistema div img {
  height: 50px;
  width: auto;
  margin-right: 15px;
}
section#enfermedades .contenedorSistemas .sistema div h3 {
  color: #57846C;
}
section#enfermedades .contenedorSistemas .sistema ul {
  padding: 5% 10%;
}

section#clientes {
  height: auto;
  padding: 50px;
  margin-bottom: 10%;
}
section#clientes h2 {
  text-align: center;
  display: block;
  padding: 5%;
}

.contenedorTestimonios {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.contenedorTestimonios .testimonio {
  background-color: #6DAB8E;
  width: 30%;
  padding: 5%;
  border-radius: 15px;
  box-shadow: 0 6px 16px 1px rgba(47, 64, 50, 0.4);
}
.contenedorTestimonios .testimonio div {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.contenedorTestimonios .testimonio div h4 {
  margin-left: 10px;
}/*# sourceMappingURL=home.css.map */