@import '../_recursosVisuales';


h1 {
	color: $color2;
}



// Main


main {
	display: flex;
	justify-content: space-evenly;
	height: 70vh;
	margin: 5% 0 0;
	padding: 5% 0;

	.logo {
		height: 100%;
		width: 50%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;



		img {
			width: 50%;
			height: auto;

			animation-name: rotacion;
			animation-duration: 120s;
			animation-timing-function: ease-out;

			@keyframes rotacion {
				from {
					transform: rotateZ(0deg);
				}

				to {
					transform: rotateZ(360deg);
				}
			}
		}

		span {
			font-family: $fuente1;
			font-size: 40px;
			text-align: center;
			padding: 10px 0;
		}

		br {
			display: none;
		}

	}


	.contentMain {
		width: 50%;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: start;
		text-align: left;

		h1 {
			width: 80%;
		}


		p {
			width: 70%;
		}

	}

}


// Terapias


section#terapias {
	height: auto;
	margin-bottom: 10%;
	display: flex;
	flex-direction: column;
	align-items: center;


	.imagenTerapias {
		background-image: url(../svg/fondoTerapias.svg);
		background-repeat: no-repeat;
		background-size: contain;
		background-position: center;
		width: 100%;
		height: 30vh;

		img {
			width: auto;
			height: 100%;
		}
	}

	.contentTerapias {
		text-align: center;
		padding: 0 10%;
	}

	button {
		margin-top: 20px;
	}
}





// Enfermedades



section#enfermedades {
	height: auto;
	padding: 0;
	display: flex;


	.imagenEnfermedades {
		width: 50%;
		height: auto;
		position: relative;


		img {
			width: auto;
			height: 100%;
			position: absolute;
			bottom: 0;
		}

		.imagenEnfermedadesMobile {
			display: none;
		}

	}



	.contenedorSistemas {
		display: flex;
		flex-direction: column;
		height: auto;
		width: 50%;
		padding: 5%;

		h2 {
			text-align: left;
			width: 90%;
			margin-bottom: 50px;
		}


		.sistema {
			width: 90%;
			margin: 1% 0;
			display: flex;
			align-items: center;

			.imagenSistema {
				padding: 3%;
				background-color: rgb(109, 171, 142, 0.6);
				display: flex;
				align-items: center;
				justify-content: center;
				border-radius: 50%;
				margin-right: 3%;

				img {
					height: 50px;
					width: 40px;
					height: 40px;
				}

			}

			div {

				h3 {
					color: $color2;
					margin: 0;
				}

				span {
					color: $color1;
				}

				p {
					margin: 0;
				}
			}

		}

	}

}






// Clientes


section#clientes {
	height: auto;
	padding: 50px 50px 150px;
	background-color: rgba(181, 217, 187, 0.09);

	h2 {
		text-align: center;
		padding: 5%;
	}

}

.contenedorTestimonios {
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
	height: auto;

	.testimonio {
		background-color: $color1;
		width: 30%;
		padding: 5%;
		border-radius: 15px;
		box-shadow: 0 6px 16px 1px rgb(47, 64, 50, 0.4);
		margin: 10px;

		h4 {
			margin-left: 10px;
		}

	}

}


// Media Queries

@media only screen and (min-width: 1025px) {
	main {
		margin-top: 10%;

		.logo {

			img {
				width: 50%;
			}

			span {
				font-size: 60px;
			}
		}

		.contentMain {
			width: 40%;
		}
	}

	section#terapias {
		.imagenTerapias {
			height: 40vh;
		}

		.contentTerapias {

			padding: 0 20%;
		}
	}

}

@media only screen and (min-width:691px) and (max-width: 990px) {
	main {
		display: block;
		height: auto;
		padding: 5% 5% 0;
		margin: 0;

		.logo {
			width: 100%;
			flex-direction: initial;
			justify-content: center;

			img {
				width: 30%;
			}

			span {
				text-align: left;
				padding: 0 0 0 2%;
				line-height: 40px;

				br {
					display: initial;
				}
			}
		}

		.contentMain {
			padding: 5%;
			width: 100%;
			text-align: center;
			align-items: center;
		}
	}

	section#clientes {
		.contenedorTestimonios {
			.testimonio {
				width: 40%;
				margin: 20px;
			}
		}
	}

}

@media only screen and (max-width: 1180px) {

	section#enfermedades {
		flex-direction: column;

		.imagenEnfermedades {
			width: auto;
			height: 500px;
			position: relative;
			display: flex;
			justify-content: center;


			img {

				display: none;
			}

			.imagenEnfermedadesMobile {
				width: auto;
				height: 100%;
				position: absolute;
				bottom: 0;
				display: initial;
			}

		}



		.contenedorSistemas {
			width: 100%;
			padding: 5%;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: space-evenly;
			background-color: rgba(181, 217, 187, 0.09);

			h2 {
				text-align: center;
				width: 100%;
			}


			.sistema {
				width: 30%;
				padding: 3%;
				flex-direction: column;
				justify-content: center;

				.imagenSistema {
					margin: 0;

					img {
						height: 50px;
						width: 40px;
						height: 40px;
					}

				}

				div {

					text-align: center;

				}

			}

		}

	}

	section#clientes {
		background-color: $blanco;
	}

}

@media only screen and (max-width: 768px) {

	section#enfermedades {

		.imagenEnfermedades {
			height: 400px;
			overflow: hidden;
		}

	}
}

@media only screen and (max-width: 511px) {

	section#enfermedades {

		.imagenEnfermedades {
			height: 300px;
			overflow: hidden;
		}

	}
}

@media only screen and (max-width: 392px) {

	section#enfermedades {

		.imagenEnfermedades {
			height: 250px;
			overflow: hidden;
		}

	}
}

@media only screen and (min-width:427px) and (max-width: 690px) {
	main {
		display: block;
		height: auto;
		padding: 5% 5% 0;
		margin: 10% 0;

		.logo {
			width: 100%;
			flex-direction: initial;
			justify-content: center;
			margin-bottom: 5%;

			img {
				width: 30%;
			}

			span {
				text-align: left;
				padding: 0 0 0 2%;
				line-height: 40px;

				br {
					display: initial;
				}
			}
		}

		.contentMain {
			padding: 5%;
			width: 100%;
			text-align: center;
			align-items: center;
		}
	}

	section#terapias {

		margin-bottom: 20%;

		.imagenTerapias {
			background-image: url(../svg/fondoTerapias1.svg);
		}
	}

	section#enfermedades {
		.contenedorSistemas {
			.sistema {
				width: 40%;

				div {
					flex-direction: column;
					justify-content: center;
					text-align: center;

					img {
						margin: 0;
					}
				}
			}
		}
	}

	section#clientes {
		.contenedorTestimonios {
			.testimonio {
				width: 90%;
			}
		}
	}

}


@media only screen and (max-width: 426px) {
	main {
		display: block;
		height: auto;
		padding: 5% 5% 0;
		margin: 20% 0;

		.logo {

			width: 100%;
			margin-bottom: 10%;

			img {
				width: 50%;
			}

			span {
				text-align: center;
				font-size: 35px;
				line-height: 35px;
			}
		}

		.contentMain {
			padding: 5%;
			width: 100%;
			text-align: center;
			align-items: center;
			margin: 10% 0;

			h1 {
				width: 100%;
			}

			p {
				width: 100%;
			}
		}
	}

	section#terapias {

		margin-bottom: 20%;

		.imagenTerapias {
			background-image: url(../svg/fondoTerapias3.svg);
		}
	}

	section#enfermedades {
		margin-bottom: 20%;

		.contenedorSistemas {
			.sistema {
				width: 80%;
				margin: 5% 0;
			}
		}
	}

	section#clientes {
		padding: 0;
		margin-bottom: 20%;

		.contenedorTestimonios {
			.testimonio {
				width: 80%;
			}
		}
	}
}