h1 {
  color: #57846C;
}

main {
  display: flex;
  justify-content: space-evenly;
  height: 70vh;
  margin: 5% 0 0;
  padding: 5% 0;
}
main .logo {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main .logo img {
  width: 50%;
  height: auto;
  animation-name: rotacion;
  animation-duration: 120s;
  animation-timing-function: ease-out;
}
@keyframes rotacion {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}
main .logo span {
  font-family: "Cormorant Infant", serif;
  font-size: 40px;
  text-align: center;
  padding: 10px 0;
}
main .logo br {
  display: none;
}
main .contentMain {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  text-align: left;
}
main .contentMain h1 {
  width: 80%;
}
main .contentMain p {
  width: 70%;
}

section#terapias {
  height: auto;
  margin-bottom: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
section#terapias .imagenTerapias {
  background-image: url(../svg/fondoTerapias.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 100%;
  height: 30vh;
}
section#terapias .imagenTerapias img {
  width: auto;
  height: 100%;
}
section#terapias .contentTerapias {
  text-align: center;
  padding: 0 10%;
}
section#terapias button {
  margin-top: 20px;
}

section#enfermedades {
  height: auto;
  padding: 0;
  display: flex;
}
section#enfermedades .imagenEnfermedades {
  width: 50%;
  height: auto;
  position: relative;
}
section#enfermedades .imagenEnfermedades img {
  width: auto;
  height: 100%;
  position: absolute;
  bottom: 0;
}
section#enfermedades .imagenEnfermedades .imagenEnfermedadesMobile {
  display: none;
}
section#enfermedades .contenedorSistemas {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 50%;
  padding: 5%;
}
section#enfermedades .contenedorSistemas h2 {
  text-align: left;
  width: 90%;
  margin-bottom: 50px;
}
section#enfermedades .contenedorSistemas .sistema {
  width: 90%;
  margin: 1% 0;
  display: flex;
  align-items: center;
}
section#enfermedades .contenedorSistemas .sistema .imagenSistema {
  padding: 3%;
  background-color: rgba(109, 171, 142, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin-right: 3%;
}
section#enfermedades .contenedorSistemas .sistema .imagenSistema img {
  height: 50px;
  width: 40px;
  height: 40px;
}
section#enfermedades .contenedorSistemas .sistema div h3 {
  color: #57846C;
  margin: 0;
}
section#enfermedades .contenedorSistemas .sistema div span {
  color: #6DAB8E;
}
section#enfermedades .contenedorSistemas .sistema div p {
  margin: 0;
}

section#clientes {
  height: auto;
  padding: 50px 50px 150px;
  background-color: rgba(181, 217, 187, 0.09);
}
section#clientes h2 {
  text-align: center;
  padding: 5%;
}

.contenedorTestimonios {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  height: auto;
}
.contenedorTestimonios .testimonio {
  background-color: #6DAB8E;
  width: 30%;
  padding: 5%;
  border-radius: 15px;
  box-shadow: 0 6px 16px 1px rgba(47, 64, 50, 0.4);
  margin: 10px;
}
.contenedorTestimonios .testimonio h4 {
  margin-left: 10px;
}

@media only screen and (min-width: 1025px) {
  main {
    margin-top: 10%;
  }
  main .logo img {
    width: 50%;
  }
  main .logo span {
    font-size: 60px;
  }
  main .contentMain {
    width: 40%;
  }
  section#terapias .imagenTerapias {
    height: 40vh;
  }
  section#terapias .contentTerapias {
    padding: 0 20%;
  }
}
@media only screen and (min-width: 691px) and (max-width: 990px) {
  main {
    display: block;
    height: auto;
    padding: 5% 5% 0;
    margin: 0;
  }
  main .logo {
    width: 100%;
    flex-direction: initial;
    justify-content: center;
  }
  main .logo img {
    width: 30%;
  }
  main .logo span {
    text-align: left;
    padding: 0 0 0 2%;
    line-height: 40px;
  }
  main .logo span br {
    display: initial;
  }
  main .contentMain {
    padding: 5%;
    width: 100%;
    text-align: center;
    align-items: center;
  }
  section#clientes .contenedorTestimonios .testimonio {
    width: 40%;
    margin: 20px;
  }
}
@media only screen and (max-width: 1180px) {
  section#enfermedades {
    flex-direction: column;
  }
  section#enfermedades .imagenEnfermedades {
    width: auto;
    height: 500px;
    position: relative;
    display: flex;
    justify-content: center;
  }
  section#enfermedades .imagenEnfermedades img {
    display: none;
  }
  section#enfermedades .imagenEnfermedades .imagenEnfermedadesMobile {
    width: auto;
    height: 100%;
    position: absolute;
    bottom: 0;
    display: initial;
  }
  section#enfermedades .contenedorSistemas {
    width: 100%;
    padding: 5%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: rgba(181, 217, 187, 0.09);
  }
  section#enfermedades .contenedorSistemas h2 {
    text-align: center;
    width: 100%;
  }
  section#enfermedades .contenedorSistemas .sistema {
    width: 30%;
    padding: 3%;
    flex-direction: column;
    justify-content: center;
  }
  section#enfermedades .contenedorSistemas .sistema .imagenSistema {
    margin: 0;
  }
  section#enfermedades .contenedorSistemas .sistema .imagenSistema img {
    height: 50px;
    width: 40px;
    height: 40px;
  }
  section#enfermedades .contenedorSistemas .sistema div {
    text-align: center;
  }
  section#clientes {
    background-color: white;
  }
}
@media only screen and (max-width: 768px) {
  section#enfermedades .imagenEnfermedades {
    height: 400px;
    overflow: hidden;
  }
}
@media only screen and (max-width: 511px) {
  section#enfermedades .imagenEnfermedades {
    height: 300px;
    overflow: hidden;
  }
}
@media only screen and (max-width: 392px) {
  section#enfermedades .imagenEnfermedades {
    height: 250px;
    overflow: hidden;
  }
}
@media only screen and (min-width: 427px) and (max-width: 690px) {
  main {
    display: block;
    height: auto;
    padding: 5% 5% 0;
    margin: 10% 0;
  }
  main .logo {
    width: 100%;
    flex-direction: initial;
    justify-content: center;
    margin-bottom: 5%;
  }
  main .logo img {
    width: 30%;
  }
  main .logo span {
    text-align: left;
    padding: 0 0 0 2%;
    line-height: 40px;
  }
  main .logo span br {
    display: initial;
  }
  main .contentMain {
    padding: 5%;
    width: 100%;
    text-align: center;
    align-items: center;
  }
  section#terapias {
    margin-bottom: 20%;
  }
  section#terapias .imagenTerapias {
    background-image: url(../svg/fondoTerapias1.svg);
  }
  section#enfermedades .contenedorSistemas .sistema {
    width: 40%;
  }
  section#enfermedades .contenedorSistemas .sistema div {
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  section#enfermedades .contenedorSistemas .sistema div img {
    margin: 0;
  }
  section#clientes .contenedorTestimonios .testimonio {
    width: 90%;
  }
}
@media only screen and (max-width: 426px) {
  main {
    display: block;
    height: auto;
    padding: 5% 5% 0;
    margin: 20% 0;
  }
  main .logo {
    width: 100%;
    margin-bottom: 10%;
  }
  main .logo img {
    width: 50%;
  }
  main .logo span {
    text-align: center;
    font-size: 35px;
    line-height: 35px;
  }
  main .contentMain {
    padding: 5%;
    width: 100%;
    text-align: center;
    align-items: center;
    margin: 10% 0;
  }
  main .contentMain h1 {
    width: 100%;
  }
  main .contentMain p {
    width: 100%;
  }
  section#terapias {
    margin-bottom: 20%;
  }
  section#terapias .imagenTerapias {
    background-image: url(../svg/fondoTerapias3.svg);
  }
  section#enfermedades {
    margin-bottom: 20%;
  }
  section#enfermedades .contenedorSistemas .sistema {
    width: 80%;
    margin: 5% 0;
  }
  section#clientes {
    padding: 0;
    margin-bottom: 20%;
  }
  section#clientes .contenedorTestimonios .testimonio {
    width: 80%;
  }
}/*# sourceMappingURL=home.css.map */