@import '../_recursosVisuales';

// Main


main {
	display: flex;
	justify-content: space-evenly;
	height: 80vh;
	padding: 0;
	margin: 5% 0;
	padding: 5%;

	.logo {
		height: 100%;
		width: 50%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;


		img {
			width: 50%;
			height: auto;
		}

		span {
			font-family: $fuente1;
			font-size: 40px;
			line-height: 50px;
			text-align: center;
			padding: 10px 0;

			br {
				display: none;
			}
		}

	}


	.contentMain {
		width: 50%;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: left;

		h1 {
			width: 80%;
		}


		p {
			width: 80%;
		}

	}

}



@media only screen and (min-width: 1025px) {
	main {
		.logo {

			img {
				width: 50%;
			}

			span {
				font-size: 60px;
			}
		}
	}
}

@media only screen and (max-width: 768px) {
	main {
		flex-direction: column;
		justify-content: initial;

		.logo {
			width: 100%;
			flex-direction: initial;
			justify-content: center;

			img {
				width: 30%;
			}

			span {
				text-align: left;
				padding-left: 2%;

				br {
					display: initial;
				}
			}
		}

		.contentMain {
			padding: 5%;
			width: 100%;
			text-align: center;
		}
	}
}

// Terapias


section#terapias {
	height: auto;
	margin-bottom: 5%;

	.contentTerapias {
		width: 70%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin: 0 auto;
		text-align: center;
	}

	.imagenTerapias {
		background-image: url(../svg/fondoTerapias.svg);
		background-repeat: no-repeat;
		background-size: contain;
		background-position: center;
		width: 90%;
		height: 300px;
		margin: 0 auto;

		img {
			width: 100%;
		}
	}

}





// Enfermedades

section#enfermedades {
	height: auto;
	padding: 0;

	h2 {
		text-align: center;
		padding: 5%;
	}

	.contenedorSistemas {
		display: flex;
		justify-content: space-evenly;
		flex-wrap: wrap;
		align-content: space-evenly;
		height: auto;

		.sistema {
			width: 30%;
			padding: 30px;
			margin: 2% 0;
			border-radius: 30px;
			box-shadow: 0 6px 10px 1px rgba(0, 0, 0, 0.2);

			div {
				display: flex;
				align-items: center;

				img {
					height: 50px;
					width: auto;
					margin-right: 15px;
				}

				h3 {
					color: $color2;
				}
			}

			ul {
				padding: 5% 10%;
			}
		}

	}

}






// Clientes


section#clientes {
	height: auto;
	padding: 50px;
	margin-bottom: 10%;

	h2 {
		text-align: center;
		display: block;
		padding: 5%;
	}

}

.contenedorTestimonios {
	display: flex;
	justify-content: space-evenly;
	align-items: center;

	.testimonio {
		background-color: $color1;
		width: 30%;
		padding: 5%;
		border-radius: 15px;
		box-shadow: 0 6px 16px 1px rgb(47, 64, 50, 0.4);

		div {
			display: flex;
			align-items: center;
			margin-bottom: 20px;

			h4 {
				margin-left: 10px;
			}

		}

	}

}