@import '../_recursosVisuales';


body {
	background-image: none;
}

.fondo {
	background-image: url(../img/terapias.jpg);
	background-size: cover;
	height: 80vh;
	background-position: right;
	position: relative;

	.namePage {
		font-size: 80px;
		color: $blanco;
		text-shadow: 3px 3px 10px rgb(0, 0, 0, 0.5);
		position: absolute;
		bottom: 10%;
		left: 5%;
	}
}


// terapias


.encabezadoGridTerapias {
	text-align: center;
	padding: 5% 20%;

	h2 {
		padding: 20px;
	}
}

.gridTerapias {
	height: auto;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(6, 1fr);
	row-gap: 60px;
	width: 80%;
	margin: 0 auto 10%;

	.itemTerapias {
		box-shadow: 0 6px 16px 1px rgb(47, 64, 50, 0.4);
		border-radius: 10px;
		display: flex;
		align-items: center;

		img {
			height: 100%;
			width: 30%;
			object-fit: cover;
			border-radius: 10px 0 0 10px;
		}

		.contenidoCardTerapias {
			padding: 5%;

			h3 {
				padding-bottom: 10px;
			}
		}
	}
}

// MediaQueries

@media only screen and (min-width:1025px) {

	.gridTerapias {
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(3, 1fr);
		column-gap: 60px;
	}

	#bio {
		p {
			width: 70%;
		}
	}
}

@media only screen and (max-width:426px) {
	.fondo {
		height: 50vh;
	}

	.encabezadoGridTerapias {
		padding: 15% 5%;

		h2 {
			padding: 0;
		}
	}

	.gridTerapias {
		width: 90%;
		margin-bottom: 30%;

		.itemTerapias {
			flex-direction: column;
			height: auto;
			justify-content: center;

			img {
				width: 100%;
				height: 70%;
				border-radius: 10px 10px 0 0;
				margin-bottom: 10px;
			}

			.contenidoCardTerapias {
				padding: 5%;
				box-shadow: none;
				border-radius: 10px;
				text-align: center;

				h3 {
					padding-bottom: 10px;
				}
			}
		}
	}

}