@import '../recursosVisuales';

body {
	background-image: none;
}

.fondo {
	background-image: url(../img/bio_Clara_Tabares.jpg);
	background-size: cover;
	height: 100vh;
	position: relative;

	.namePage {
		font-size: 80px;
		color: $blanco;
		text-shadow: 3px 3px 10px rgb(0, 0, 0, 0.5);
		position: absolute;
		bottom: 10%;
		left: 5%;
	}
}

// Main

#bio {
	height: auto;
	padding: 5%;
	text-align: left;
	position: relative;

	p {
		width: 60%;
	}

	.boxFloat {
		position: absolute;
		right: 12%;
		top: -120%;
	
		img {
			height: 400px;
			width: 300px;
		}
	}
}






// MediaQueries

@media only screen and (max-width:970px) {
	

	.fondo {
		height: 80vh;
	}

	#bio {
		p {
			width: auto;
		}

		.boxFloat {
			display: none;
		}
	}
}

@media only screen and (min-width:971px) {
	#bio {
		p {
			width: 55%;
		}

		.boxFloat {
			right: 8%;
		}
	}

	
}

@media only screen and (min-width:1024px) {
	#bio {
		p {
			width: 60%;
		}

		.boxFloat {
			right: 10%;
		}
	}

	
}